body{
    width: auto;
    height: auto;
    font-family: "Noto Sans KR", sans-serif;
    min-width: 1080px;
    display: flex;
    flex-direction: column;
    
}
section{
    display: flex;
    flex-direction: row;
    height: auto;
    flex: 1;
}
nav{
    flex: 1;
    height: auto;
    background: rgba(12,18,44,0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav > p{
    height: 100px;
    line-height: 100px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}
nav > span{
    height: 60px;
    line-height: 60px;
}
nav > span> a{
    font-size: 1.0em;
    color: white;
    text-decoration: none;
}
article{
    flex: 4;
    height: 100%;
    background: aliceblue;
    display: flex;
    flex-direction: column;
}
article > div:nth-child(1){
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    text-align: right;
}
article > div > a{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}
article > div:nth-child(2){
    background: white;   
    width: 90%;
    flex: 1;
    margin: 0 auto;
}
article > div:nth-child(2) > p{
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0 30px 30px;
}
article > div:nth-child(2) > ul{
    margin: 0 20px 0 20px;
}
.admin_subject, #admin_form{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.admin_subject{
    background: #ddd;
    border-top: 2px solid rgb(82, 82, 82);
    border-bottom: 2px solid rgb(82, 82, 82);
}
.admin_subject > span:not(.admin_subject > span:nth-child(1)):not(.admin_subject > span:nth-child(2)):not(.admin_subject > span:nth-child(7)):not(.admin_subject > span:nth-child(8)):not(.admin_subject > span:nth-child(9)){
    font-size: 1.1em;
    flex: 3;
    height: 80px;
    line-height: 80px;
}
.admin_subject > span:nth-child(1),
.admin_subject > span:nth-child(2),
.admin_subject > span:nth-child(7){
    font-size: 1.1em;
    /* flex:1; */
    width: 50px;
    height: 80px;
    line-height: 80px;
}
.admin_subject > span:nth-child(8),
.admin_subject > span:nth-child(9){
    font-size: 1.1em;
    /* flex:2; */
    width: 70px;
    height: 80px;
    line-height: 80px;
}
.admin_search > form > span:not(.admin_search > form > span:nth-child(1)):not(.admin_search > form > span:nth-child(2)):not(.admin_search > form > span:nth-child(9)):not(.admin_search > form > span:nth-child(7)):not(.admin_search > form > span:nth-child(8)){
    font-size: .9em;
    flex: 1;
    height: 60px;
    line-height: 60px;
}
.admin_search > form > span:nth-child(1),
.admin_search > form > span:nth-child(2),
.admin_search > form > span:nth-child(7){
    font-size: .9em;
    /* flex: 1; */
    width: 50px;
    height: 60px;
    line-height: 60px;
}
.admin_search > form > span:nth-child(8),
.admin_search > form > span:nth-child(9){
    font-size: .9em;
    /* flex: 1; */
    width: 70px;
    height: 60px;
    line-height: 60px;
}
.admin_search > form > span > input:not(.admin_search > form > span:nth-child(7) > input){
    width: 80%;
    padding: 10px 5px 10px 5px;
    border: 1px solid rgba(12,18,44,0.95);
}
.admin_search > form > span:nth-child(7) > input{
    width: 30px;
    padding: 10px 5px 10px 5px;
    border: 1px solid rgba(12,18,44,0.95);
    text-align: center;
}
.admin_search:nth-child(odd){
    background: #ddd;
}
.admin_search > form > span:nth-child(9) > button, .admin_search > form > span:nth-child(8) > button{
    background: white;
    border: 1px solid rgba(12,18,44,0.95);
    padding: 9px;
    width: 80%;
    cursor: pointer;
}
.admin_search > form > span:nth-child(9) > button:hover, .admin_search > form > span:nth-child(8) > button:hover{
    background: rgba(12,18,44,0.95);
    border: 1px solid rgba(12,18,44,0.95);
    color: white;
    cursor: pointer;
}
.check_del{
    margin: 0 20px 0 20px;
    
}
.check_del > button{
    color: black;
    border: 1px solid rgba(12,18,44,0.95);
    padding: 9px;
    background: white;
    float: right;
    margin: 20px 0px 50px;
}