/* header Style */
#main_header{
    width: 100%;
    height: 400px;
    min-width: 1080px;
    background-image: url("../img/main_bg4.jpg");
    background-position: 70%;
    background-repeat: no-repeat;
}
#main_header::before{
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000000;
    height: 400px;
}
#top_gnb{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
#main_logo{
    margin-left: 50px;
    line-height: 80px;
    display: inline-block;
}
#main_logo > a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#main_menu{
    margin-right: 50px;
    display: inline-block;
}
.main_top_menu{
    display: flex;
    flex-direction: row;
    line-height: 80px;
}
.top_sub_menu, .top_sub_menu_img{
    justify-content: space-between;
    padding-left: 40px;
    font-weight: bold;
    font-size: 1.2em;
}
.top_sub_menu_img{
    line-height: 105px;
}
.top_sub_menu a{
    text-decoration: none;
    color: white;
}
.top_sub_menu_img > a > img{
    width: 40px;
    height: 40px;
}
#main_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title_text{
    font-size: 3.5em;
    color: white;
    position: relative;
    font-weight: bold;
    margin-top: 50px;
}
#sub_text{
    margin-top: 20px;
    font-size:2.0em;
    color: white;
    position: relative;
}