#login-title{
  margin-bottom: 45px;
}
#login-title > a{
  color: black;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: 'Noto Sans KR', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#regi_id, #regi_nickname {
  font-family: 'Noto Sans KR', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 70%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
form > div {
  display: flex;
  flex-direction: row;
}
#check_id, #check_nick {
  width: 30%;
  height: 50px;
  padding: 10px;
}
.form button {
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3E95E6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #479EF5;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #3E95E6;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
body {
  background: aliceblue;
}