.section{
    /* width: 100%; */
    width: 1080px;
    margin: 0 auto;
}
.article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.data_zone{
    border: 1px solid #ddd;
    width: 20%;
    float: left;
    margin: 0 1% 2% 1%;
    margin-bottom: 2%;
    position: relative;
    padding: 15px;
}
.no_data_zone{
    border: 1px solid white;
    width: 20%;
    float: left;
    margin: 0 1% 2% 1%;
    margin-bottom: 2%;
    position: relative;
    padding: 15px;
}
.poster{
    width: 216px;
    height: 302px;
}
.content_zone{
    height: 140px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.data_title{
    font-size: 1em;
    font-weight: bold;
    flex: 4;
}
.data_place{
    font-size: .9em;
    flex: 2;
    /* vertical-align: middle; */
}
.bottom_menu{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom_menu > p{
    font-size: .7em;
}
.bottom_menu > p > a{
    color: black;
    text-decoration-color: black;
}